# Ignore 'target' directory in any subprojects
**/target/

# Ignore 'Cargo.lock' in any subprojects (keep this if you're developing a library)
**/Cargo.lock

# Optional: Ignore Rustdoc output in any subprojects
**/doc/

# Optional: Ignore other typical files
*.cov
*~
.DS_Store
Thumbs.db
